<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="cdo-performance-test"
            id="cdo.performance.test"/>
      <constraintProvider
            cache="true"
            >
         <package namespaceUri="http:///org/eclipse/emf/examples/library/extlibrary.ecore/1.0.0"/>
         <constraints categories="cdo.performance.test">
            <constraint
                  class="constraints.NonEmptyNamesConstraint"
                  id="org.eclipse.emf.validation.pde.example.general.ui.NameNotEmpty"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="Non Empty Names"
                  severity="ERROR"
                  statusCode="1">
               <description>
                  All items in an EXT library model should have some unique identifier or name.
               </description>
               <message>
                  ..been found to have no unique identifier (name or title).
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="cdo.performance.testContext">
         <selector class="constraints.ValidationDelegateClientSelector"/>
      </clientContext>
      <binding
            context="cdo.performance.testContext"
            category="cdo.performance.test"/>
   </extension>
   
</plugin>
